.button {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;

    border-radius: 76px;
    background: var(--red-primaire);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;

    color: var(--white);
    font-family: Trap;
    font-size: 20px;
    font-weight: 900;
    text-transform: capitalize;
}

.button-grey {
    background: var(--grey);
    color: var(--black);
}

.button-wide {
    padding: 6px 50px;
}

.button-square {
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: 900;
    border: none;
    background: var(--grey);
    border-radius: 6px;
}

.button-rod:hover {
    text-decoration: line-through;
}

.button:hover {
    background: var(--blue-secondary-dark);
}

.button:active {
    box-shadow: none;
}

.button-add-plug-in {
    margin: 25px;
}