.menu-bar {
    height: 60px;
    background: var(--white);
    display: flex;
    padding: 10px 16px 10px 40px;
    justify-content: space-between;
    align-items: center;
    border-radius: 70px;
}

.menu-logo {
    color: #000;
    font-family: Trap;
    font-size: 20px;
    font-weight: 900;
}

.menu-link {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-button {
    display: flex;
    align-items: center;
    align-items: stretch;
    gap: 10px;
}