.verb {
    padding: 25px 75px;
}

.verb-added {
    display: flex;
    justify-content: space-between;
}

.verb-added-colmun {
    width: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.verb-input-add {
    height: 40px;
}