/* ====================================
// css variables
// ==================================== */

:root {
  --red-primaire: #FB2D2C;
  --white: #fff;
  --grey: #D9D9D9;
  --black: #000;
  --blue-secondary-dark: #2E2282; 
  --blue-sky: #879BC4;
  --dark-grey: #8C8C8C;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  background: #1F1A1A;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  padding: 50px;

  font-size: 1rem;
  line-height: 1.25;
  font-family: "Trap", serif;
  font-weight: 400;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

main {
  margin: 150px 0;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}