a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline 2px;
}

nav {
  width: 100%;
  padding-left: 26%;
  font-weight: 400;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}