@font-face {
    font-family: "Trap";
    font-weight: 900;
    src: url(../Trap_font/Trap-Black.otf) format("opentype");
}

@font-face {
    font-family: "Trap";
    font-weight: 700;
    src: url(../Trap_font/Trap-Bold.otf) format("opentype");
}


@font-face {
    font-family: "Trap";
    font-weight: 600;
    src: url(../Trap_font/Trap-SemiBold.otf) format("opentype");
}

@font-face {
    font-family: "Trap";
    font-weight: 500;
    src: url(../Trap_font/Trap-Medium.otf) format("opentype");
}

@import "bootstrap/scss/bootstrap-grid";
@import "base";
@import "layout";
@import "modules/example";
@import "modules/menu";
@import "modules/button";
@import "modules/button-selection";
@import "modules/plug-in";
@import "modules/checkbox-toggle";
@import "modules/time";
@import "modules/notif-welcome";
@import "modules/verb";