@font-face {
    font-family: "Trap";
    font-weight: black;
    src: url(../Trap_font/Trap-Black.otf) format("opentype");
}

@import "bootstrap/scss/bootstrap-grid";
@import "base";
@import "layout";
@import "modules/example";
